/* limpar as formatações padrão */

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #fff;
  /* background: #e6e6e6; */
  /* background-image: url("../imagens/imagem-fundo.jpg");
  background-size: cover; */
}

/*
**** LAYOUT  **** 
*/

#area-cabecalho {
  background-color: #080c59;

  padding: 15px;
  text-align: center;
}

#area-principal {
  width: 920px;
  margin: 0 auto;
  padding: 15px;
}

#area-postagens {
  width: 660px;
  float: left;
}

#area-lateral {
  width: 240px;
  float: right;
}

.postagem {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

.conteudo-lateral {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
}

#rodape {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #fff;
}

/* voce pode aplicar a mesma formatçao em IDs diferentes, é só usar a virgula ,   segue o exemplo abaixo */
#area-logo,
#area-menu {
  padding: 10px;
}

/* Formatação do menu */

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f7b600;
}

a:hover {
  text-decoration: underline;
}

/* --------- */

#area-cabecalho a:link,
#area-cabecalho a:visited {
  color: #fff;
  padding: 8px 12px;
}

#area-cabecalho a:hover {
  color: #f7b600;
  background: #fff;
  text-decoration: none;
}

/* 
 **** Formatações em geral ****
  */

h1 {
  color: #d9b527;
  font-size: 2.5em;
}

h2 {
  color: #222675;
}

h3 {
  color: #565656;
  background: #ccc;
  padding: 5px;
}

.branco {
  color: white;
}

.data-postagem {
  font-size: 0.8em;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 10px;
  display: block;
  margin-bottom: 10px;
}

.texto-lateral {
  font-size: 0.8em;
  padding: 5px;
}

.imagen-conteudo-lateral {
  width: 10px;
  margin-bottom: 10px;
}
